.glitch {
  position: relative;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  animation: shift 4s ease-in-out infinite alternate;
  text-shadow: 2px 0 rgba(255, 0, 193, 0.8), -2px 0 rgba(0, 255, 195, 0.8);
  display: inline-block;
  overflow: visible;
  line-height: 1.2;
  vertical-align: top;
}

.glitch::before {
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  line-height: inherit;
}

.glitch::before {
  left: 2px;
  text-shadow: var(--before-shadow);
  animation: glitch-anim var(--before-duration) infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: var(--after-shadow);
  animation: glitch-anim2 var(--after-duration) infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
    transform: skew(0.8deg);
  }
  10% {
    clip: rect(98px, 9999px, 93px, 0);
    transform: skew(0.1deg);
  }
  15% {
    clip: rect(54px, 9999px, 66px, 0);
    transform: skew(0.9deg);
  }
  20% {
    clip: rect(88px, 9999px, 98px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(1px, 9999px, 83px, 0);
    transform: skew(0.6deg);
  }
  30% {
    clip: rect(78px, 9999px, 94px, 0);
    transform: skew(0.2deg);
  }
  35% {
    clip: rect(41px, 9999px, 29px, 0);
    transform: skew(0.7deg);
  }
  40% {
    clip: rect(15px, 9999px, 91px, 0);
    transform: skew(0.3deg);
  }
  45% {
    clip: rect(64px, 9999px, 57px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(39px, 9999px, 74px, 0);
    transform: skew(0.1deg);
  }
  55% {
    clip: rect(86px, 9999px, 30px, 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(22px, 9999px, 68px, 0);
    transform: skew(0.4deg);
  }
  65% {
    clip: rect(73px, 9999px, 9px, 0);
    transform: skew(0.6deg);
  }
  70% {
    clip: rect(47px, 9999px, 85px, 0);
    transform: skew(0.2deg);
  }
  75% {
    clip: rect(3px, 9999px, 62px, 0);
    transform: skew(0.7deg);
  }
  80% {
    clip: rect(91px, 9999px, 38px, 0);
    transform: skew(0.3deg);
  }
  85% {
    clip: rect(28px, 9999px, 96px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(59px, 9999px, 17px, 0);
    transform: skew(0.1deg);
  }
  95% {
    clip: rect(82px, 9999px, 44px, 0);
    transform: skew(0.9deg);
  }
  100% {
    clip: rect(6px, 9999px, 71px, 0);
    transform: skew(0.4deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
    transform: skew(0.3deg);
  }
  5% {
    clip: rect(14px, 9999px, 33px, 0);
    transform: skew(0.6deg);
  }
  10% {
    clip: rect(79px, 9999px, 88px, 0);
    transform: skew(0.2deg);
  }
  15% {
    clip: rect(42px, 9999px, 11px, 0);
    transform: skew(0.8deg);
  }
  20% {
    clip: rect(93px, 9999px, 56px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(27px, 9999px, 69px, 0);
    transform: skew(0.1deg);
  }
  30% {
    clip: rect(51px, 9999px, 25px, 0);
    transform: skew(0.7deg);
  }
  35% {
    clip: rect(18px, 9999px, 84px, 0);
    transform: skew(0.5deg);
  }
  40% {
    clip: rect(76px, 9999px, 37px, 0);
    transform: skew(0.3deg);
  }
  45% {
    clip: rect(5px, 9999px, 92px, 0);
    transform: skew(0.9deg);
  }
  50% {
    clip: rect(61px, 9999px, 48px, 0);
    transform: skew(0.2deg);
  }
  55% {
    clip: rect(34px, 9999px, 15px, 0);
    transform: skew(0.6deg);
  }
  60% {
    clip: rect(87px, 9999px, 73px, 0);
    transform: skew(0.4deg);
  }
  65% {
    clip: rect(21px, 9999px, 29px, 0);
    transform: skew(0.1deg);
  }
  70% {
    clip: rect(58px, 9999px, 81px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(9px, 9999px, 46px, 0);
    transform: skew(0.5deg);
  }
  80% {
    clip: rect(72px, 9999px, 19px, 0);
    transform: skew(0.3deg);
  }
  85% {
    clip: rect(38px, 9999px, 95px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(13px, 9999px, 52px, 0);
    transform: skew(0.2deg);
  }
  95% {
    clip: rect(89px, 9999px, 26px, 0);
    transform: skew(0.9deg);
  }
  100% {
    clip: rect(4px, 9999px, 63px, 0);
    transform: skew(0.4deg);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

.enable-on-hover:hover {
  animation: shift 1s ease-in-out infinite alternate;
}

.enable-on-hover:hover::before {
  animation: glitch-anim 0.3s infinite linear alternate-reverse;
}

.enable-on-hover:hover::after {
  animation: glitch-anim2 0.3s infinite linear alternate-reverse;
}

